{% extends "bookings/base.html" %}
{% block content %}
<h2 class="fw-bold mb-4">Admin <span class="text-danger">Dashboard</span></h2>

<div class="row g-4 mb-5">
    <div class="col-md-6">
        <div class="card bg-dark text-white p-4 text-center">
            <h6>Total Revenue</h6>
            <h2 class="display-6 fw-bold text-success">₹{{ revenue }}</h2>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h6>Total Movies</h6>
            <h2 class="display-6 fw-bold text-primary">{{ stats|length }}</h2>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <table class="table table-hover align-middle mb-0">
        <thead class="bg-light">
            <tr>
                <th>Movie Title</th>
                <th>Tickets Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in stats %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.ticket_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}