{% extends "bookings/base.html" %}
{% load static %}

{% block content %}

<div style="padding:40px; max-width:900px; margin:auto;">

    <h1>{{ movie.title }}</h1>

    {% if movie.poster %}
        <img src="{{ movie.poster.url }}"
             style="width:300px; border-radius:10px; margin:20px 0;">
    {% endif %}

    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Duration:</strong> {{ movie.duration }}</p>

    {% if movie.description %}
        <p>{{ movie.description }}</p>
    {% endif %}

    <br>

    <a href="/" class="book-btn">⬅ Back to Home</a>

</div>

{% endblock %}
